@import './reset';
@import './variables';
@import './mixins';

body {
  background: getcolor(bg);
  color: getcolor(text);
  font-size: font-size(default);
  font-family: 'Gill S
  ans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hide {
  display: none;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

header {
  padding: units(1);

  h1 {
    height: initial;
    text-align: center;
    
    &.huge {
      font-size: font-size(huge);
    }
  }
}

main {
  padding: units(1);
  h2 {
    padding: units(1);
    text-align: center;
  }
}

.choose-file-type {
  display: grid;
  min-height: units(8);
  grid-template-columns: 1fr 1fr;
  gap: units(1);

  .button {
    background-color: getcolor(main);
    padding: units(3);
    color: getcolor(text);
    text-align: center;
    
    span {
      font-size: font-size(bigger);
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
    }
    .info {
      font-size: font-size(small);
    }
  }
}

.glitch {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr units(4) units(12);
  grid-template-areas: "options media"
                       "options submit"
                       "gallery gallery";

  gap: units(1) units(2);

  margin: units(1);

  .options {
    grid-area: options;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: units(1);
    
    .option {
      display: grid;
      grid-template-rows: units(1) units(2);
      grid-auto-flow: dense;

      label {
        font-size: font-size(small);
      }
    }
  }

  .media {
    grid-area: media;
    background-color: getcolor(black);
    padding: units(1);
    
    .input {
      display: block;
      width: 100%;

      input {
        padding: units(1) 0;
      }
    }

    .output {
      height: units(16);

      video, img {
        height: 100%;
        width: auto;
      }
    }
  }
  
  .submit {
    grid-area: submit;
    
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: units(1);

    a, button {
      cursor: pointer;
      box-sizing: border-box;
      padding: units(1);
      color: getcolor(text);
      height: 100%;
      
      &:hover {
        background-color: getcolor(alt);
      }
    }
    
    a {
      background-color: transparent;
      border: solid units(0.5) getcolor(main);
    }
    button {
      background-color: getcolor(main);
      font-size: font-size(big);
      text-transform: uppercase;
    }
  }
  
}

.gallery {
  grid-area: gallery;
  margin-top: units(2);

  h3 {
    padding: units(1) 0;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: units(1);

    li {
      a {
        display: block;
        font-size: font-size(small);
      }
      video, img {
        height: units(8);
        width: auto;
      }
    }
  }
}