<!DOCTYPE html>
<html>
    <head>
        <title>Glitch</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row Title">
                <button onClick="window.location.reload();">Regenerate</button>
            </div>
            <div class="row">
                <div class="image col-md-8">
                    {% if file_type == 'image' %}
                        <img src="{{ url_for('static', filename=glitched_fname)}}" style="max-width:800px;max-height:800px;object-fit:cover">
                    {% elif file_type == 'video' %}
                        <video width="400" controls>
                            <source src="{{ url_for('static', filename=glitched_fname) }}" type="video/mp4">
                          Your browser does not support HTML5 video.
                        </video>
                    {% endif %}

                </div>
            </div>
        </div>
    </body>
</html>
