{% extends "layout.html" %}

{% block title %} Glitch {% endblock %}

{% block header %}

<h1>
  <a href="/">
    Glitch
  </a>
</h1>

{% endblock %}

{% block main %}

<form method="post" enctype="multipart/form-data" class="glitch">
  <section class="options">
    {% for name, options in options.items() %}
      <div class="option">
        <label for="{{name}}">{{options['label']}}</label>
        <input type="range" name="{{name}}" value="{{parameters[name]}}"
              step="{{options['step']}}" min="{{options['min']}}" max="{{options['max']}}">
      </div>
    {% endfor %}
  </section>

  <section class="media">
    <div class="input">
      <span class="choose-file">Choose a file
        <small>
          (Allowed extensions:
          <strong>{{', '.join(allowed_extensions.image if file_type == 'image' else allowed_extensions.video)}}</strong>)
        </small>
      </span>
      <input type="file" name="file">
      <input type="hidden" name="filename" value="{{ glitched_fname }}">
    </div>

    <div class="output {{'hide' if not glitched_fname}}">
      {% if file_type == 'image' %}
        <img src="{{ url_for('static', filename=glitched_fname)}}">
      {% elif file_type == 'video' %}
        <video controls>
          <source src="{{ url_for('static', filename=glitched_fname) }}" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
      {% endif %}
    </div>
  </section>

  <section class="submit">
    {% if file_type == 'image' %}
      <a href="/glitch/video">Change to video</a>
      {% else %}
      <a href="/glitch/image">Change to image</a>
    {% endif %}
    <button type="submit">Glitch!</button>
  </section>

  <section class="gallery {{ 'hide' if not other_glitches }}">
    <h3>
      Previous glitches:
    </h3>

    <ul>
      {% for filename in other_glitches %}
        <li class="file">
          {% set url = url_for('static', filename=glitched_fname) %}
          {% if file_type == 'image' %}
            <img src="{{ url }}">
          {% elif file_type == 'video' %}
            <video controls>
              <source src="{{ url }}" type="video/mp4">
              Your browser does not support HTML5 video.
            </video>
          {% endif %}
          <a href="{{ url }}" target="_blank">view</a>
        </li>
      {% endfor %}
    </ul>
  </section>
</form>

{% endblock %}
