{% extends "layout.html" %}

{% block title %} Glitch {% endblock %}

{% block header %}

<h1 class="huge">gl1tch!</h1>

{% endblock %}

{% block main %}

<h2>What are you going to glitch today?</h2>

<section class="choose-file-type">
  <a href="/glitch/image" class="button">
    <span>Image</span>
    <p class="info">
      Accepted extensions:
      <strong>{{', '.join(allowed_extensions.image)}}</strong>
    </p>
  </a>
  <a href="/glitch/video" class="button">
    <span>Video</span>
    <p class="info">
      Accepted extensions:
      <strong>{{', '.join(allowed_extensions.video)}}</strong>
    </p>
  </a>
</section>

{% endblock %}
