{% extends "layout.html" %}

{% block title %} Glitch {% endblock %}

{% block header %}

<h1 class="huge">Glitch</h1>

{% endblock %}

{% block main %}

<h2>What are you going to glitch today?</h2>

<section class="choose-file-type">
  <a href="/glitch/image" class="button">
    <span>Image</span>
    <p class="info">
      Accepted extensions:
      <strong>{{', '.join(allowed_extensions.image)}}</strong>
    </p>
  </a>
  <a href="/glitch/video" class="button">
    <span>Video</span>
    <p class="info">
      Accepted extensions:
      <strong>{{', '.join(allowed_extensions.video)}}</strong>
    </p>
  </a>
</section>

<section class="gallery">
  <ul>
    {% for image in images %}
      <li class="file">
        <img src="{{image}}">
        <a href="{{image}}" target="_blank">view</a>
      </li>
    {% endfor %}
    
    {% for video in videos %}
      <li class="file">
        <video controls>
          <source src="{{video}}" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
        <a href="{{video}}" target="_blank">view</a>
      </li>
    {% endfor %}
  </ul>
</section>

{% endblock %}
