<!doctype html>
<html>
  <head>
      <title>Glitch</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="row Title">
            <div class="col-sm-8">
              <h1>Upload new File</h1>
            </div>
        </div>
        
        <div class="row description">
            <div class="col-sm-12">
                <p>Choose a video or image file to glitch.</p>
                <p>
                  <small>
                    Allowed extensions:
                    <strong>{{', '.join(allowed_extensions.image)}}</strong>
                    (image),
                    <strong>{{', '.join(allowed_extensions.video)}}</strong>
                    (video)
                   </small>
                </p>
              </div>
        </div>

        <div class="row">
          <div class="image col-sm-12">
            <form method="post" enctype="multipart/form-data" class="form">
              
              <div class="form-group">
                <input type="file" name="file"><br>
              </div>

              <div class="image-options col-sm-6">
                <div class="radio">
                  <label><input type="radio" name="file_type" value="image" checked>Image</label>
                </div>

                {% for name, options in image_options.items() %}
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label" for="image_{{name}}">{{options['label']}}</label>
                    <div class="col-sm-6">
                      <input class="form-control" type="number" name="image_{{name}}" value="{{options['default']}}"
                             step="{{options['step']}}" min="{{options['min']}}" max="{{options['max']}}">
                    </div>  
                  </div>
                  {% endfor %}
              </div>
              
              <div class="video-options col-sm-6">
                <div class="radio">
                  <label><input type="radio" name="file_type" value="video">Video</label>
                </div>

                {% for name, options in video_options.items() %}
                  <div class="form-group row">
                    <label class="col-sm-6 col-form-label" for="video_{{name}}">{{options['label']}}</label>
                    <div class="col-sm-6">
                      <input class="form-control" type="number" name="video_{{name}}" value="{{options['default']}}"
                             step="{{options['step']}}" min="{{options['min']}}" max="{{options['max']}}">
                    </div>  
                  </div>
                {% endfor %}
              </div>

              <div class="form-group col-sm-12">
                <input type="submit" value="Upload">
              </div>
            </form>
          </div>
        </div>
    </div>
  </body>
</html>
