<!doctype html>
<html>
  <head>
      {% block head %}
      <title>{% block title %}{% endblock %}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="{{ url_for('static', filename='css/style.scss.css') }}" rel="stylesheet" type="text/css">
      {% endblock %}
  </head>
  <body>
    <div class="wrapper">
      {% block content %}
        <header>
          {% block header %}
          {% endblock %}
        </header>
        
        <main>
          {% block main %}
          {% endblock %}
        </main>
      {% endblock %}
    </div>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
